*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
h1{
    background-color: #081b31;
    color:white;
    height: 5rem;
    line-height: 5rem;
}
.choices{
display: flex;
align-items: center;
justify-content: center;
gap:3rem;
margin-top: 5rem;

}
.choice{
   
    text-align: center;
    line-height: 100px;
    height: 100px;
    width: 100px;
    background-color: antiquewhite;
    border:2px solid transparent;
    border-radius: 50%;
    font-size: 30px;
}
.choice:hover{

    border:2px solid rgb(0, 0, 0);
    cursor: pointer;
}
.score-board{
    margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.score{
font-size: 30px;
font-weight: 700;

}

.msg-container{

    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
#msg{
    height: 50px;
    width: 300px;
    line-height: 50px;
    color: white;
border-radius: 1rem;
font-size: 20px;
    background-color: #081b31;
}
#user-score,#comp-score{
    font-size: 4rem;
}